

<!DOCTYPE html>
<html lang="en">
 <style>	body {
	background-color: #FFFFFF;
	height: 600px;
	width:900px;
	}

</style>
<!doctype html>
<title>Austrian weightlifting overlay - team standings</title>

<head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<div id="tester" style="width:900px;height:600px;background-color:rgba(0,0,0,0);"></div>
<script>
	var trace1 = {
		y: ['VÖE', 'VÖD'],
		x: [1600, 140],
		name: 'xxx',
		type: 'bar',
		orientation: 'h',
	};

	var trace2 = {
		y:['VÖE', 'VÖD'],
		x: [12, 18],
		name: 'yyy',
		type: 'bar',
		orientation: 'h',
	};

	var data = [trace1, trace2];

	var layout = {
		showlegend: false,
		paper_bgcolor: 'rgba(0,0,0,0)',
	  	plot_bgcolor: 'rgba(0,0,0,0)',
		barmode: 'stack',
		margin: {
			l:200,
			r:10,
			b: 100,
			pad: 10

		},
		xaxis: {
			tickangle: -45,
			tickfont: {
				family: 'Arial, sans-serif',
				size: 40,
				color: 'black'
			},
		},
		yaxis: {
			tickfont: {
				family: 'Arial, sans-serif',
				size: 40,
				
				color: 'black'
			},
		},
	};

	Plotly.newPlot('tester', data, layout);
	


function LoadAjax()
{
	var $SCRIPT_ROOT = '{{url_for('api.teams', _external=True)}}';
	const API_URL = '{{ request.script_root|tojson|safe }}/api/'
	// Make a request for a user with a given ID
	axios.get($SCRIPT_ROOT)
		.then(function (response) {
			// handle success
			console.log(response);
			var data = [];
			var y = [];
			var rx = [];
			var rnames = [];
			var cx = [];
			var cnames = [];
			response.data.forEach(function(element) {
				y.push ( "<b>" + element.short  +   "<br>(" + (Math.round(element.total* 100) / 100).toFixed(2) + ")</b>");
				rx.push ((Math.round(element.snatch* 100) / 100).toFixed(2));
				rnames.push ("<b>" + (Math.round(element.snatch* 100) / 100).toFixed(2) + "</b>");
				cx.push ((Math.round(element.cj* 100) / 100).toFixed(2))
				cnames.push( "<b>" + (Math.round(element.cj* 100) / 100).toFixed(2)+ "</b>")
			});

			var tracer = {
				y:y,
				x: rx,
				text: rnames,
				type: 'bar',
				orientation: 'h',
textfont: {
						family: 'Arial, sans-serif',
						size: 60,
						color: '#000000'
					},
					textposition: 'auto',
			};

			var traces = {
				y:y,
				x: cx,
				text: cnames,
				type: 'bar',
				orientation: 'h',
textfont: {
						family: 'Arial, sans-serif',
						size: 60,
						color: '#000000'
					},
					textposition: 'auto',
			};
			Plotly.react('tester', [tracer,traces], layout);
		})
		.catch(function (error) {
			// handle error
			console.log(error);
		})
		.then(function () {
			// always executed
			
	});

	
}


setInterval(LoadAjax, 5000);
</script>
</body>
</html>



